
.construction_container {
    display: flex;
    position: absolute;
    align-items: center; 
    text-align: center; 
    justify-content: center;
    width: 50%;
    margin: 0 auto; 
    border: 3px solid #FFB0F2;
    border-radius: 15px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .construction_container p {
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
  }
  