.footer { 
    position: fixed; /* Ensures that footer is fixed to the bottom of the page */ 
    left: 0;
    bottom: 0;
    width: 100%; /* Ensures that footer takes up the full width */ 
    height: 50px; /* Sets the height of the footer */
    padding: 10px; /* Creates space around the footers content */
    background-color: black; /* Sets the footers background to black */
    text-align: center;
 }

 .icons { 
    display: flex; /* Use flexbox for layout */
    justify-content: center; 
    gap: 20px;

} .icons a { 
    color: #FFB0F2; /* Makes social media icons pink */
    font-size: 24px; 
    text-decoration: none; 

} 

.icons a:hover { 
    color: #FFB26E; /* Allows the social media icons to change colour when the user hovers over them */ }

