/* body style */
body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    background-color: black; 
    display: absolute; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
  }

/* paragraph style */
  p {
    color: #FF91ED; 
  }
  
/* H3 style */
  h3 {
    font-size: 1.2em; 
    font-weight: bold; 
    color: #FF91ED; 
    width: 16%; 
    text-align: center; 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px; 
  }
  
  /* Root wrapper styles */
  #root {
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    width: 100%; 
    height: 100%; 
  }
  
/* input class styling */
  .input {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
  }

  /* Input field styling */
  #input-field {
    padding: 15px;
    font-size: 1.2em;
    font-weight: 500; 
    border: 2px solid #BF60FF; 
    border-radius: 12px; 
    margin-right: 10px;
    background-color: black;
    color: #FFB0F2; 
    width: 300px;
  }

  /* Submit button styling */
  #submitbutton {
    padding: 15px 25px; 
    font-size: 1.2em; 
    background-color: black;
    color: #FFB0F2; 
    border: 2px solid #BF60FF;
    border-radius: 12px; 
    cursor: pointer;
  }
  
  /* game container style */
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

/* name and attributes class style */
  .name-and-attributes {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }

/* artist name text styling */
  .artist-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #FF91ED;
    width: 16%;
    text-align: center;
  }

/* attribute titles and tiles styling */
  .attribute-titles,
  .attribute-tiles {
    display: flex;
    justify-content: center;
    width: 97%;
    gap: 30px;
  }
  
  .attribute-title,
  .attribute-tile {
    width: 30%;
    margin: 0 5px;
    text-align: center;
    padding: 13px;
    height: 60%;
  }
  
  .attribute-title {
    font-weight: bold;
    color: #FF91ED;
  }
  
  .attribute-tile {
    background-color: #333;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 8px;
    padding: 25px 8px;
    transition: background-color 0.3s ease;
  }
  
  /* correct attribute style */
  .correct {
    background-color: #7ee66c;
  }

/* incorrect attribute style */
  .incorrect {
    background-color: #919191;
  }

/* close attribute style */
  .close {
    background-color: #FBE080;
  }

/* empty placeholder style */
  .empty-placeholder {
    width: 16%; /* Same width as artist name to keep tiles aligned */
  }
  
  /* Display the guess count */
  .guess-count {
    font-size: 1.2em; 
    font-weight: bold;
    color: #FF91ED; 
    margin-top: 30px; 
    text-align: left; 
    margin-left: 30px; 
  }

/* previous guess style */
  .previous-guess {
    animation: slideDown 0.3s ease-in-out;
    margin-bottom: 10px;
  }

/* keyframes transformations and style */
  @keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  
  /* Create a scrollable container */
  .scrollable-container {
    height: 100vh; /* 100% of the viewport height */
    overflow-y: auto; 
    padding: 20px;
  }

/* html, body style */
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
  }
  
  /* popup style */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* popup content styling */
  .popup-content {
    background: linear-gradient(to right, #BF60FF, #FF91ED, #FFB26E);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
  }

/* popup close style */
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }

/* popup artist style */
  .popup-artist {
    margin: 20px 0;
    color: black;
  }

/* artist photo placeholder style */
  .artist-photo-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 auto;
  }

/* popup button style */
  .popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 7px;
  }

  .popup-button {
    display: block; 
    margin: 10px 0; 
    padding: 12px 20px; 
    background-color: #2e2e2e; 
    color: #FF91ED;
    cursor: pointer; 
    border-radius: 4px;
    width: 80%; 
    max-width: 350px; 
  }

/* artist name style */
  .pop-artist-name {
    color: black;
    font-weight: bold;
  }
  
  /* "Give Up" button styling */
  .give-up {
    position: absolute; 
    bottom: 20px;
    right: 20px; 
    padding: 10px 20px; 
    font-size: 1.2em;
    font-weight: 550;
    background: linear-gradient(90deg, #FF91ED, #FFB26E);
    color: black; 
    border: none; 
    border-radius: 12px; 
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

/* paragraph style */
  p {
    color: #333;
  }
