/* Body styling */
body {
    background-color: black; /* Set the background color of the page */
    font-family: Arial, Helvetica, sans-serif; /* Set the font for the page */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Align content in column format */
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    overflow-y: auto;
  }
  /* Styling for the header with gradient text */
  .app_header {
    font-size: 6vw; /* Use viewport width for scaling text size dynamically */
    font-weight: bold; /* Make text bold */
    background: linear-gradient(to right, #BF60FF, #FF91ED, #FFB26E); /* Apply gradient background */
    -webkit-background-clip: text; /* Clip the background to the text (for Chrome, Safari) */
    -webkit-text-fill-color: transparent; /* Make the text color transparent to show the gradient */
    background-clip: text; /* Apply gradient effect to text */
    margin-bottom: 2vw; /* Add spacing below the header */
    text-align: center; /* Ensure text is centered */
  }

 /* Styling for the how to container */
  .HowToContainer { 
    display: flex; 
    flex-direction: row; /* Ensures that the items within the container are displayed in a row on larger screens */
    gap: 25px; /* Specifies space between each of the items*/
    color: black;
  }

/* Styling for the background container */
  .pink-box {
    background-color: #fcbef2;
    color: black !important; /* Explicitly set text color */
    border: 2px solid #FFB0F2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }

/* Styling for the pink box elements */
  .pink-box h1,
  .pink-box p,
  .pink-box li {
    color: black; /* Ensure all text is black */
  }

/* Styling for various text colors within the box */
.green-text {
    color: green;
  }
  
  .orange-text {
    color: orange;
  }
  
  .grey-text {
    color: grey;
  }

  
  @media (max-width: 800px) { /* Ensures that items within the container are stacked on top of eached in a column format on smaller screens */ 
    .HowToContainer {
      flex-direction: column;
    } 
  } 

/* Styling for H1 elements */
  h1 {
    margin-bottom: 20px;
  }

/* Styling for the list */
  ul {
    text-align: center;
    list-style-type: none; /* Removes bullets */
    padding: 0; /* Removes left padding */
    margin: 0; /* Removes top/bottom margin */
  }
