
body {
    background-color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    min-height: 100vh; 
    overflow-y: auto;
  }
  
  .app_header {
    font-size: 6vw; 
    font-weight: bold; 
    background: linear-gradient(to right, #BF60FF, #FF91ED, #FFB26E); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    margin-bottom: 2vw; 
    text-align: center; 
  }

 /* Styling for the how to container */
  .HowToContainer { 
    display: flex; 
    flex-direction: row; 
    gap: 25px; 
    color: black;
  }

/* Styling for the background container */
  .pink-box {
    background-color: #fcbef2;
    color: black !important; 
    border: 2px solid #FFB0F2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }

/* Styling for the pink box elements */
  .pink-box h1,
  .pink-box p,
  .pink-box li {
    color: black; 
  }

/* Styling for various text colors within the box */
.green-text {
    color: green;
  }
  
  .orange-text {
    color: orange;
  }
  
  .grey-text {
    color: grey;
  }

  
  @media (max-width: 800px) {  
    .HowToContainer {
      flex-direction: column;
    } 
  } 

/* Styling for H1 elements */
  h1 {
    margin-bottom: 20px;
  }

/* Styling for the list */
  ul {
    text-align: center;

    list-style-type: none; /* Removes bullets */
    padding: 0; /* Removes left padding */
    margin: 0; /* Removes top/bottom margin */
  }
